
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.logo{
	max-width: 2%;
	display: inline-block;
	margin-left: 20%;
	
	
}

.nav-links > li{
	display: inline-block;
	padding: 1em;

}
.nav-links li a{
	text-decoration: none;
	color: #666046;
	font-family: 'Roboto', sans-serif;
}
.nav-links{
	float: right;
	margin-right: 20%;
}
.content{
	background-color: #fff;
}
.nav-links .active{
	 color: black;
    font-weight: 500;
}
.content .nav-links li a:hover{
	cursor: pointer;
    color: #333333
}
.introduction{
	background-image: url('../images/first-background copy.jpg');
	background-size: cover;	
	background-repeat: no-repeat;
	height:50rem;
	background-position: center;
	padding-top: 10%;


}
.center{
	text-align: center;
}
.introduction h1{
	
	font-size: 3rem;
	
	
}
.introduction h2{
	
	font-size: 1.5rem;
	margin-top: -1.25rem;
}
.intro-style{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
button{
	background-color: #F15A29;
	color: white;
	border-radius: .25rem;
	border-style: none;
	border-color: #F15A29;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
}
button:hover{
	background-color:#E82B0A;
	cursor: pointer;
}
